@import "tailwindcss";

.container {
  padding: 40px;
  max-width: 1880px;
  margin: 0 auto;
}

.section-padding-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-padding {
  padding-top: 17px;
  padding-bottom: 17px;
}